///////////////////////////////////// Chi siamo /////////////////////////////////////////

#chi-siamo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
    padding-bottom: 50px;
  }
  #main-carousel {
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .splide {
    width: 80%;
    .splide__arrow {
      background-color: transparent;
      color: $light-color;
    }
    .splide__track {
      height: 100%;
      margin-top: 50px;
      .splide__list {
        .splide__slide {
          img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .my-slider-progress {
    background: $medium-color;
    .my-slider-progress-bar {
      background: $primary-color;
      height: 0.5vh;
      transition: width 400ms ease;
      width: 0;
    }
  }
  .main__text {
    padding: 50px;
  }
}

//////////////////////////////////// Certificazioni ///////////////////////////////////

#certificazioni {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  h3 {
    color: $h3-color;
  }
  img {
    width: 100%;
  }

  .certificazioni__ico {
    padding: 0 30px;
  }
}

/////////////////////// Prodotti //////////////////////////

#serramenti-in-alluminio,
#serramenti-in-pvc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  .serramenti__content {
    margin: auto;
  }
  img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
  }
}

#serramenti-in-alluminio {
  img {
    width: 70%;
    margin: auto;
  }
}

#schermature-solari {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
  }
}

#controtelai-isolanti {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
  }
}

#zanzariere {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  img {
    width: 70%;
    margin: auto;
    border-radius: 5px;
  }
}

#opere-in-vetro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
  }
}
//////////////////////////////////// Realizzazioni ////////////////////////////

#realizzazioni {
  padding: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  align-items: center;
  margin: auto;
  h1,
  .main__text {
    grid-column: 1 / span 2;
    text-align: justify;
  }

  .img__container {
    height: 180px;
    &:hover {
      .overlay {
        scale: 1;
      }
      .card__text {
        scale: 1;
        transition: all 0.3s ease-in-out;
      }
    }
    .overlay {
      border-radius: 5px;
      opacity: 0.6;
      scale: 0;
      transition: all 0.3s ease-in-out;
    }
    .card__text {
      scale: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2,
      h3 {
        margin: 5px 0;
        align-items: center;
        color: $light-color;
      }
    }
    img {
      border-radius: 5px;
      position: relative;
      z-index: -2;
      width: 100%;
      height: 100%;
    }
  }
}

///////////////////////////////// Single Page works //////////////////////////////////

#single-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  .overlay {
    z-index: 5;
    opacity: 0.7;
    width: 100%;
    height: 90vh;
    scale: 0;
    transition: all 0.5s ease-in-out;
  }
  .overlay__img {
    position: absolute;
    align-items: center;
    z-index: 6;
    width: 800px;
    scale: 0;
    transition: all 0.5s ease-in-out;
    img {
      width: 100%;
    }
  }
  h1 {
    grid-column: 1 / span 2;
  }
  #main-carousel {
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .splide {
    width: 80%;
    .splide__arrow {
      background-color: transparent;
      color: $light-color;
    }
    .splide__track {
      height: 100%;
      margin-top: 100px;
      .splide__list {
        .splide__slide {
          img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .thumbnails {
      display: flex;
      margin: 1rem auto 0;
      padding: 0;
      justify-content: center;
    }

    .thumbnail {
      width: 70px;
      max-height: 50px;
      overflow: hidden;
      list-style: none;
      margin: 0 0.2rem;
      cursor: pointer;
      opacity: 0.5;
    }

    .thumbnail img {
      width: 100%;
      height: 100%;
    }
    .thumbnail.is-active {
      opacity: 1;
    }
  }
  .work {
    padding: 5vh 5vw;
    .work__subtitle {
      color: $medium-color;
      margin: 0;
    }
    .btn__dark {
      margin-top: 30px;
    }
  }
}

///////////////////////////// News /////////////////////////////

#news {
  padding: 10vh 2vw;
  text-align: center;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  h1 {
    grid-column: 1 / span 4;
  }
  .news {
    margin: 10vh 0;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    background-color: $h3-color;
    text-align: left;
    align-items: center;
    transition: all 0.3s ease-in-out;
    img {
      width: 100%;
    }
    .news__title {
      padding: 5px 30px;
    }
    &:hover {
      scale: 1.1;
    }
  }
}

#single-news {
  display: felx;
  flex-direction: column;
  .single__news--card {
    padding: 10vh 2vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .card__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

////////////////////////////// Contatti /////////////////////////////
#contatti {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10vh;
  h1 {
    grid-column: 1 / span 2;
  }
  h5 {
    margin: 0;
    font-size: 1.6rem;
    padding: 10px 0;
  }
  span {
    color: transparent;
  }
  ul {
    display: inline-block;
    padding: 3vh 0;
    li {
      position: relative;
      text-align: center;
      font-size: 1.3rem;
      padding: 2vh 0;
      a {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@import "./media_queries.scss";
